.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/.DS_Store
code/federal_elections/.DS_Store
.DS_Store
.DS_Store
data/.DS_Store
data/federal_elections/.DS_Store
.DS_Store
data/.DS_Store
data/federal_elections/.DS_Store
data/federal_elections/municipality_level/.DS_Store
